<!DOCTYPE html>
<html>
<head>
  <title>Book Tracker</title>
  <script src="/js/app.js" defer></script>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Book Tracker</h1>

  <nav class="navbar">
    <div class="nav-left">
      <a href="/">Home</a> |
      <a href="/search">Search</a> |
      <a href="/mybooks">My Books</a> 
    </div>
    <div class="nav-right">
      {{#if user}}
        {{#if (eq user.role 'admin')}}
          <a href="/admin">Admin</a> |
        {{/if}}
        <a href="/logout">Logout</a>
      {{else}}
        <a href="/login">Login</a> |
        <a href="/register">Register</a>
      {{/if}}
    </div>
  </nav>

  <hr>

  <div id="app">
    {{{body}}}
  </div>
</body>
</html>